/* Agregá esto al inicio de tu CSS global */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;

}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #646cff;
  --secondary-color: #747bff;
  --background-color: #ffffff;
  --title-color: rgb(208, 183, 132);
  --text-color: #000000;
  --link-color: #ff4655;
  --link-hover-color: #9f2d37;
  --footer-header-color: #282c34;
  --footer-text-color: white;
}

body {
  width: 100%;
  background-color: #000000;

}