#RedesSocialesLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#RedesSocialesLinks a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--link-color);
}

#RedesSocialesLinks a:hover {
    color: var(--link-hover-color);
    transform: scale(1.5);
}